[Desktop Entry]
Name=Scrotwm
Comment=This session runs the scrotwm window manager
Comment[it]=Questa sessione avvia il gestore di finestre scrotwm
Exec=/usr/bin/scrotwm
Type=Application
