[Desktop Entry]
Name=Scrotwm
Comment=Start the scrotwm window manager
Comment[it]=Avvia il gestore di finestre scrotwm
Exec=/usr/bin/scrotwm
Type=Application
